@tailwind base;
@tailwind components;
@tailwind utilities;

/* dropdown container styles */
.dropdownContainer {
  @apply bg-white fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 h-1/2 z-10 flex justify-center items-center flex-col  lg:w-1/5;
}
.dropdownInnerContainer {
  @apply p-10  w-full h-full flex rounded-lg flex-col overflow-auto;
}

/* dropdown container styles end*/

/* Spinning Loader styles */
.loaderContainer {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #0152fe transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Spinning Loader styles end*/
